In [ ]:
# Q1. How do you comment code in Python? What are the different types of comments?

# comment code in python can be done by putting '#' in fron tof the commment line
# this is example of first type of comment
'''This is second or multi level type of comment
it is mainly use to comment entire paragraph or many lines'''
'This is second or multi level type of comment\nit is mainly use to comment entire paragraph or many lines'

In [1]:
# Q2. What are variables in Python? How do you declare and assign values to variables?
# varibles ar nothing but the name of the charcter in which data is stored , it can be of any type of alphanumeric 
# declaring variable name as prem and assigniing value of 4 in it
#example 
prem=4
print(prem)

4

In [2]:
# Q3. How do you convert one data type to another in Python?
# simply type the converting type and assign the variable of another type
# eg we have taken prem as integer now converting into string format
str(prem)

'4'

In [ ]:
# Q4. How do you write and execute a Python script from the command line?
# to execute python script simply enter it or in jupiter notebook it will be Shift + Enter

In [3]:
# Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].
my_list=[1,2,3,4,5]
my_list[1:3]

[2, 3]

In [4]:
# Q6. What is a complex number in mathematics, and how is it represented in Python?
# Complex no is the combination of real and imaginary number
# its format is x+yi where x and y is real and i is imaginary no.

# in python its writen in same format Eg - 6+7j
p=6+7j
type(p)

complex

In [5]:
# Q7. What is the correct way to declare a variable named age and assign the value 25 to it
# simply decalre and assign the varriable , follow below:  
age=25
print(age)

25

In [6]:
# Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?
price=9.99
type(price)

float

In [7]:
# Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?
name ="prem modsing"
print(name)

prem modsing

In [9]:
# Q10. Given the string "Hello, World!", extract the substring "World".
prem="Hello, World!"
prem[7:13]

'World!'

In [ ]:
# Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.
is_student=True